[2021-11-03 18:27] KwatMDPhD opened #1 "Debug Comonicon"

[2021-11-03 18:27] KwatMDPhD opened #2 "Release binaries for macOS"

[2021-11-08 22:25] ACastanza opened #3 "Make cli gif a static image"
It would be great if we could get a static image instead of a gif of the cli example. The gif loops too quickly to see what the cli help actually looks like and it'd be simpler to just have a static image.

[2021-11-08 22:53] KwatME commented on #3
Got it. Will do.

[2021-11-08 22:58] ACastanza commented on #3
Thanks, not a big deal, I was able to get the information from going to the function code, it's just a pet peeve about how this kind of thing is presented.

[2021-11-08 23:14] KwatMDPhD opened #4 "Make `setting.json` keys more descriptive"

[2021-11-08 23:14] KwatMDPhD commented on #2
@KatharineME

[2021-11-08 23:15] #1 closed

[2021-11-09 06:09] KwatMDPhD opened #5 "Test the 2 benchmarks from the old GSEA examples, and make example notebooks for these tests"

[2021-11-09 06:11] KwatMDPhD opened #6 "Turn all of old GSEA examples into notebooks for the following reasons: 1) testing every aspect of the code and 2) making more examples for the users"

[2021-11-26 06:30] #5 closed

[2021-11-26 06:30] #4 closed

[2021-11-29 18:27] ACastanza opened #7 "Install Instructions Result in Dependencies Error"
Hey Kwat,

I know this is still an ongoing process, but I thought I'd take a look at the install instructions just to see if I could get it to work.

results in the error

[code]

This is probably simple for someone fluent in julia to resolve (based on the error message it seem like it just needs to be told to first install dependencies with Pkg.instantiate()?) But I thought I'd let you know anywa

[2021-11-29 18:43] ACastanza commented on #7
Suggest adding
`julia --project -e 'using Pkg; Pkg.instantiate()'`

To the install instructions as this seems to start the process, but then the following error was received during the instantiation process

[code]

[2021-11-29 19:14] KwatME commented on #7
Updated README.md with `instantiate` logic.
Looking into the 2nd error.

[2021-11-29 19:18] ACastanza commented on #7
Thanks!

I tried the command you added to the README since it was slightly different than the one I'd used and the error there is slightly different as well, not mentioning the 'InverseFunctions' dependency (although maybe that's because it's a re-run).

In case it is helpful:

[code]

[2021-11-29 19:20] KwatME commented on #7
I'm sorry I rushed this. I forgot the `--project` flag. This flag tells julia to use the local environment.

[2021-11-29 19:21] KwatME commented on #7
The current README has `--project` flag. Without it, julia uses the global environment, and there is nothing to test there.

[2021-11-29 19:23] KwatMDPhD opened #8 "Propagate the lower level fix up to GSEA.jl"
Anthony,

 There are 4 changes in GSEA dependencies that I need to propagate up to GSEA.jl. This should be done in 30min.

[2021-11-29 19:24] KwatME commented on #8
@ACastanza

[2021-11-29 19:24] ACastanza commented on #7
`julia  --project --eval "using Pkg; Pkg.instantiate(); Pkg.update(); Pkg.test()"`

Seems to run successfully!

[2021-11-29 19:25] KwatME commented on #7
Should I close this?

[2021-11-29 19:25] KwatME commented on #7
That `test` command should fail. Fixing it @ #8

[2021-11-29 19:26] ACastanza commented on #7
I think so? It did fail at the end with

[code]
But that is probably https://github.com/KwatMDPhD/GSEA.jl/issues/8

[2021-11-29 19:26] #7 closed

[2021-11-29 19:42] KwatME commented on #7
Yes it is

[2021-11-29 19:47] KwatME commented on #8
I'm trying to get this taken cared of by 1pm.

[2021-11-29 21:10] KwatME commented on #7
This should be fixed.

[2021-11-29 21:10] #8 closed

[2021-11-29 21:11] KwatME commented on #8
Give it few minutes just in case before trying to install it.

[2021-11-29 21:11] KwatME commented on #7
Give it few minutes just in case before trying to install it.

[2021-11-29 21:21] KwatME commented on #8
My automated git syncing function is still running. The next commit should have the fix. This commit should come through in a few minutes.

[2021-11-29 22:22] ACastanza commented on #8
`Testing GSEA tests passed`

Woo!!

[2021-11-29 22:27] ACastanza commented on #8
Hmm. On a mac at least, it didn't put the binary into ~/.julia/bin or /Applications/Julia-1.6.app/Contents/Resources/julia/bin so not sure where it went and the `gsea` command doesn't seem to be in the path (even though julia/bin is.

[2021-11-29 22:38] KwatME commented on #3
Removed .gif for now. When we stabilize the interface, let's make a nice pictorial.

[2021-11-29 22:38] #3 closed

[2021-11-29 22:48] ACastanza commented on #8
@KwatMDPhD

Okay so `julia --project --eval "using Pkg; Pkg.instantiate(); Pkg.update(); Pkg.test()"`

completes fine, but `julia --project deps/build.jl` throws the following error:

[code]

[2021-11-29 23:18] KwatME commented on #8
@KatharineME

Can you install `Comonicon` in your global environment?

`julia --eval 'using Pkg; Pkg.add("Comonicon")'`

[2021-11-29 23:29] KwatMDPhD opened #9 "Debug installation"
@ACastanza

<img width="747" alt="Screen Shot 2021-11-29 at 16 29 26" src="https://user-images.githubusercontent.com/7741548/143958953-59e3f3b6-4510-4e0e-a52a-248a52eca726.png">

[2021-11-29 23:30] KwatME commented on #9
@KatharineME If you know of any causes please let us know.

[2021-11-29 23:37] ACastanza commented on #9
Running `julia --eval 'using Pkg; Pkg.add("Comonicon")'`
before `julia --project deps/build.jl`
Did not resolve the issue.

[2021-11-29 23:47] KwatME commented on #9
Got it. Thanks Anthony. I don't know what's going on there. I think the developer of Comonicon is doing a lot of work today and there may be an update coming. I will look into this.

[2021-11-29 23:55] KwatME commented on #9
Any thoughts on this @Roger-luo?

[2021-11-30 00:13] Roger-luo commented on #9
Yeah I've got a few report of it should be fixed on latest master version

[2021-11-30 00:25] KwatME commented on #9
Got it. Thank you @Roger-luo :)

[2021-11-30 00:53] ACastanza commented on #9
_Linux issues to Linux thread linked below_

[2021-11-30 00:54] KwatMDPhD opened #10 "Debug debian"

[2021-11-30 00:55] KwatME commented on #10
@ACastanza

Moving this here so we spare Roger from notifications.

This is new. @KatharineME is the installation/docker expert. Need her help here probably.

[2021-11-30 00:55] KwatME commented on #9
==> #10

[2021-11-30 00:58] ACastanza commented on #10
Entering a julia shell and then running import Pkg; Pkg.add("Blink") seemed to complete successfully, which then allowed `julia --project --eval "using Pkg; Pkg.instantiate()"` to continue but it is giving other dependency errors, so something seems to be wonky with dependency installations for Debian.

[code]

[2021-11-30 01:00] ACastanza commented on #10
Full stack trace

[code]

[2021-11-30 01:05] ACastanza commented on #10
Note; I can confirm that this is a Debian specific issue, I was not able to replicate it on Ubuntu.

[2021-11-30 01:07] ACastanza commented on #10
The initial error does not occur on Ubuntu (i.e., I did not first need to run `import Pkg; Pkg.add("Blink")`) but the errors with FinalFigure and FeatureSetEnrichment, do also cause GSEA to fail on Ubuntu.

[2021-11-30 01:11] KwatME commented on #10
Got it. @KatharineME could you investigate these linux issues? Thanks!

[2021-11-30 17:14] KatharineME commented on #10
@ACastanza thanks for the tips. I'll be packaging GSEA on linux soon so I'm sure I'll run into these errors as well.

[2021-11-30 17:18] KatharineME commented on #8
Yep I can. `julia --eval 'using Pkg; Pkg.add("Comonicon")'` finishes without errors.

[2021-11-30 17:24] KatharineME commented on #8
@ACastanza can you run this `julia --eval 'using Pkg; Pkg.status()'` and send the output?

Then `cd` into GSEA.jl and run this: ` julia --project --eval 'using Pkg; Pkg.status()'` and send the output.

[2021-11-30 17:36] ACastanza commented on #8
`julia --eval 'using Pkg; Pkg.status()'` result:
[code]
That's the complete result for both in and not in the GSEA.jl directory.

[2021-11-30 17:39] KatharineME commented on #8
When you `cd` into GSEA.jl and run the command, did you include the `--project` flag? That flag actually activates the GSEA.jl environment.

[2021-11-30 17:40] ACastanza commented on #8
Oh, oops, nope, my bad

Here's the command with the --project flag in the dir:
[code]

[2021-11-30 17:41] ACastanza commented on #8
Which reminds me, when we build this for release, we're going to want to move all those packages over to the official [gsea-msigdb repository](https://github.com/GSEA-MSigDB/) as well

[2021-11-30 17:54] ACastanza commented on #10
@KatharineME, you may or may not, I was running this in Ubuntu and Debian images running on top of WSL, so if you have native install it may not. I should also note here that julia installed via conda was completely nonfunctional. It segfaulted every time it tried to do anything (I think at a downloading step). Installing julia using the 64bit Linux x86 package for version v1.6.4 (Nov 19, 2021) pr

[2021-11-30 18:15] KatharineME commented on #8
Alright, thanks for those outputs @ACastanza, I'll ping you again here when I have a potential fix.

[2021-11-30 18:55] KatharineME commented on #10
@ACastanza thanks for the context, noted. Are you using Docker to run those Ubuntu and Debian images? I'll be using Docker initially to test on different linux operating systems, and then perhaps confirm with native installs of those operating systems.

Right its seems installing the official release of Julia from julialang.org is the best way to go. I also ran into errors when using julia install

[2021-11-30 19:04] ACastanza commented on #10
I was using the Microsoft packaged Ubuntu and Debian images for my initial testing, Docker on Windows now uses the same WSL back-end for its virtualization that the Microsoft provided images use, but it is entirely possible that their configuration is different in some important way. I can give it a go with a Docker image as well, julia:1.6.4-buster seems like a good candidate to start with (altho

[2021-11-30 19:12] KatharineME commented on #10
Sounds good, yep I like to test on very minimal docker images and add only the things I need.

[2021-11-30 19:17] ACastanza commented on #10
Building using the julia:1.6.4-buster image gave the same initial `Error building 'Blink'` during `julia --project --eval "using Pkg; Pkg.instantiate()"` as the MSFT image.

(error reproduced below just in case
[code]

[2021-11-30 19:21] ACastanza commented on #10
Okay, so after manually adding Blink as above, the julia docker image errored identically to the debian WSL image

[code]

I could go on to test with manually installed Julia in the base debian image just to be sure, but I think at this point it's a pretty consistent behavior.

[2021-11-30 19:28] KatharineME commented on #10
Got it, thanks @ACastanza, could you run `Julia --project --eval 'using Pkg; Pkg.precompile()' in the GSEA.jl directory and send the output?

[2021-11-30 19:39] ACastanza commented on #10
Okay, so this is interesting, I'd exited the docker image, so I started from scratch again, but knowing that I'd need to manually install Blink, I ran `julia --eval 'import Pkg; Pkg.add("Blink")'` before trying to instantiate the GSEA package and _unexpectedly_ it also errored, but then worked on a second try. So it seems to be that it always fails to install Blink the _first_ time. Perhaps it's t

[2021-11-30 20:58] KwatME commented on #8
Sure. Make sure to add Kate and me to gsea-msigdb org so we can do that

[2021-11-30 22:58] ACastanza commented on #10
Okay, so the Blink error is resolved by first installing the `unzip` package in the image using `apt-get update && apt-get install unzip`

This does **not** resolve the issues with FinalFigure and FeatureSetEnrichment

[2021-11-30 23:12] KatharineME commented on #10
Understood, thanks @ACastanza. When I have Debian container running on my end, I'll circle back to this.

[2021-11-30 23:28] KwatME commented on #10
Try getting kaleido `pip install kaleido`

[2021-11-30 23:28] KwatME commented on #10
Maybe something in this set up is missing: https://github.com/KwatMDPhD/environment

In the README.md, there are installations I do for python.

[2021-11-30 23:38] ACastanza commented on #10
installing kaleido via pip did not resolve the issue.

I tried one more thing; if I clone your FinalFigure.jl repository and then run the same `using Pkg; Pkg.instantiate()` command, it completes successfully, but when I tried the same with the other failed dependency (FeatureSetEnrichment.jl) it errors on FinalFigure.jl again.

[2021-11-30 23:44] KwatME commented on #10
Thanks for trying. Is this problem only in debian?

[2021-11-30 23:48] ACastanza commented on #10
It fails the same on debian and ubuntu, I haven't tested arch based distros though.
The current image I'm testing from is the official  julia:1.6.4-buster docker image with python3 added to it.

[2021-12-01 00:16] ACastanza commented on #9
I was not able to resolve this by using Comonicon from master (`]add Comonicon#master`).
The error message (below) persists:

[code]

[2021-12-01 01:39] KwatME commented on #10
Thanks. Good to know this.

[2021-12-02 17:10] KwatME commented on #10
<img width="577" alt="Screen Shot 2021-12-02 at 10 09 09" src="https://user-images.githubusercontent.com/7741548/144469671-4fea0826-2038-42fd-8468-b559aa043077.png">

I think the source of this problem is WebIO or something related to figure "showing" the plot. Can you try running `.iynb` inside `test` in each `.jl` and see if you can see the figures?

[2021-12-02 17:41] ACastanza commented on #10
There is no juypyter kernel by default in this environment (and I wouldn't think there should need to be).
There seems to be some issue with the notebooks (in WSL?); they give an invalid syntax error.

However, I had another idea, since I was able to (seemingly) get FinalFigure.jl to build when I instnatiated it directly, I tried adding `Pkg.test()` to that command. Maybe this error is helpful:

[

[2021-12-02 17:44] ACastanza commented on #9
I can confirm that this (building for MacOS) is, in fact, now resolved!

[2021-12-02 17:49] KwatME commented on #9
:tada: Good job Anthony!

[2021-12-02 17:50] KwatME commented on #10
Oh! Add `IJulia` in your global nevironemnt! Dahh I completely forgot about this.

[2021-12-02 17:50] KwatME commented on #10
[code]

[code]

[2021-12-02 17:55] ACastanza commented on #10
This doesn't seem to have changed anything. The IJulia package installs, but the errors are the same.

[2021-12-02 18:19] KatharineME commented on #9
Fantastic!

[2021-12-02 21:57] ACastanza commented on #10
Looking at this error message more I wonder if the issue here is surprisingly simple

`ERROR: LoadError: IOError: mkdir("/home/acast/Downloads/FinalFigure.test/"; mode=0o777): no such file or directory (ENOENT)`

It's trying to mkdir not just a directory, but a _file_ in a directory

In fact, if I enter a julia session and try to create a file the same way (where neither test, nor test.txt exist),

[2021-12-02 22:02] ACastanza commented on #10
Okay, maybe that isn't the entire issue. I manually created the "Downloads" path that it is expecting but still encountered errors when building GSEA.jl, but when i build and _FinalFigure.jl_ on it's own _IT PASSES_

[code]

[2021-12-02 22:06] ACastanza commented on #10
So;

Fixing the path to not require `Downloads` to exist _does_ fix the FinalFigure.jl build and test! However, even with FinalFigure.jl able to build and pass tests _when built independently_ it still seems to fail when GSEA.jl tries to build it as a dependency.

[2021-12-02 22:26] KwatME commented on #10
This means I should not use ~/Downloads, always. Do you have this folder? If not, can you work around it by making ~/Downloads?

[2021-12-02 22:26] KwatME commented on #10
Not a solution but I wonder if having that folder fixes the issue.

[2021-12-02 22:59] ACastanza commented on #10
Creating the expected downloads folder seems to work for directly building the FinalFigure.jl package but not for building it as a GSEA.jl dependency. It's possible I've done something wrong here, I can't see a reason why it would work one way but not the other, but I can't think of what it might have been. I'm just running same .instantiate/.test commands in one directory instead of another.

[2021-12-02 23:02] ACastanza commented on #10
Rather than rely on the Downloads folder, which did not exist (at least not in the expected location) on Linux, it might be better to work in a sub-directory under the system's /tmp directory, which I think exists on both Mac and Linux in the same format (Windows would need %tmp% I think)

[2021-12-03 04:44] KwatME commented on #10
I'll use tmp/

[2021-12-06 17:27] ACastanza commented on #10
Not fixed. Instantiate reports same errors (using Julia 1.7.0 docker image now because of manifest change, an aside: Julia 1.6.4 was made the latest LTS release, shouldn't we have stuck with that?)

[code]

[2021-12-06 17:57] ACastanza opened #11 "Use Julia LTS release"
It looks like the latest development work has moved the GSEA.jl package to Julia 1.7.0.
Unless this is strictly needed for language features, I'd suggest using the latest LTS release instead, which has finally been upgraded to 1.6.4 from 1.0.
(Might be a discussion topic for the meeting today)

[2021-12-06 18:06] ACastanza commented on #10
I also got this warning:

[code]

[2021-12-06 20:11] ACastanza commented on #10
Still can't build. Please give solution if this is fixed/explain closure if not.

[2021-12-06 23:49] ACastanza opened #12 "run-standard-gsea Identical Statistics and No Plots"
I ran sarcopenia data (my exact files here: https://drive.google.com/drive/folders/1ynugc7IRbQAWYBnQa9PaqwlEyyjMMUp1?usp=sharing) using the version I've built and installed on MacOS

With the command:

gsea run-standard-gsea /Users/acastanza/GSEA/setting_for_standard_gsea.json /Users/acastanza/GSEA/m2.cp.wikipathways.v0.2.symbols.gmt /Users/acastanza/GSEA/Sarcopenia_bianry_from_cls.tsv /Users/acas

[2021-12-08 07:22] ACastanza commented on #10
[code]

Clean Julia 1.7.0-buster docker image (only ran `ran apt update && apt upgrade && apt install unzip build-essential` before GSEA.jl install commands)

🥳

However, with running `deps/build.jl` I did get a few warnings you might want to take a look at:

[code]

[2021-12-08 07:42] ACastanza commented on #10
Per a hint [here](https://stackoverflow.com/questions/67339948/gcc-warning-unsupported-gnu-property-type) that maybe this error was a result of the linker being "too old" I tried again but using the `1.7.0-bullseye` (Debian 11) image instead of the -buster (Debian 10/oldstable) based image and the PackageCompiler completed successfully with no warnings!

[2021-12-08 07:42] #10 closed

[2021-12-08 09:11] KwatME commented on #10
Finally! Thank you for spearheading these installation issues 🥇

[2021-12-10 04:23] KwatME commented on #12
I tried with your date in `test/runtests.jl` and got a different result

<img width="1188" alt="Screen Shot 2021-12-09 at 21 22 36" src="https://user-images.githubusercontent.com/7741548/145516872-4d378bd2-d908-4ffe-bcec-f2fcc6f2297b.png">

[2021-12-10 04:27] ACastanza commented on #12
Hmm. Have you tried running it from the command line directly rather than from inside a notebook?
I'll also try again with the new build that was able to compile on Debian (this issue was opened with the previous MacOS build)

[2021-12-10 04:50] KwatME commented on #12
ok

[2021-12-10 05:56] KwatME commented on #12
https://github.com/KwatMDPhD/GSEA.jl#test-sarcopenia

[2021-12-10 05:56] #12 closed

[2021-12-10 05:59] KwatME commented on #6
I like this workflow where @ACastanza tried to run on real data where he is expert in and when things fail, he opens issues with links to his data; I then troubleshoot and return him a working commands (https://github.com/KwatMDPhD/GSEA.jl#test-sarcopenia). Can you please keep testing and open issues as you encounter? I will be ready to fix them.

[2021-12-10 05:59] #6 closed

[2021-12-10 06:00] KwatME commented on #2
@ACastanza , we have had some major improvements and this issue should be done soon.

[2021-12-10 06:14] KwatMDPhD opened #13 "Rename setting keys"

[2021-12-11 00:45] KwatME commented on #11
![Uploading Screen Shot 2021-12-10 at 17.45.05.png…]()

[2021-12-11 23:31] ACastanza commented on #11
This screenshot didn't upload

I did see this quote:

On the Julia site, but looking at thier ["Risk Tolerance Personas"](https://julialang.org/blog/2019/08/release-process/#risk_tolerance_personas) documentation, I do think that this would fall into the "Low Risk Tolerance" category if we're developing a production grade application intended to be used by others in their scientific research and b

[2021-12-12 00:49] KwatME commented on #11
Let's test a lot, before we plan on this. One step at a time.

[2022-01-05 00:36] ACastanza commented on #9
Well, that was short-lived, the installation seems like it may have broken on another Comonicon change?

[code]

[2022-01-05 00:42] ACastanza commented on #9
Oh, I'd pulled the julia:1.7.1-buster container not the julia:1.7.0-buster container. This error does not occur with the julia:1.7.0-buster container. Something to keep in mind though if you're planning on migrating the code to the 1.7.1 release.

[2022-01-05 00:42] #9 closed

[2022-01-05 00:58] Roger-luo commented on #9
Can you check if the latest Comonicon patch fixes this issue? I think somehow you are running with 0.12.3 but latest is 0.12.4

[2022-02-05 02:31] #11 closed

[2022-02-05 02:32] #13 closed

[2022-02-09 18:20] ACastanza opened #14 "MacOS dylib is damaged error"
Downloaded, extracted and ran the release here: https://github.com/KwatMDPhD/GSEA.jl/releases/tag/0.2.0, got the error message:`“libRmath-julia.dylib” is damaged and can’t be opened. You should move it to the Trash.`

Note: I also had to disable known developer verification with `sudo spctl --master-disable` but that should be a given

[2022-02-09 18:24] ACastanza commented on #14
Oh, there was actually more information in the terminal:

[2022-02-09 18:37] ACastanza commented on #14
Okay, I resolved this with disabling system integrity protection from the recovery mode terminal. (CMD+R while booting, then selecting the terminal , then `csrutil disable`) but I'm having a different issue which I'll open it's own ticket for since this one will be resolved by eventually signing the code like we do for desktop GSEA.

[2022-02-09 18:37] #14 closed

[2022-02-09 18:38] ACastanza opened #15 "InitError(mod=:Blink, error=AssertionError(msg="isfile(f)"))"
gsea                              Wed Feb  9 10:34:43 2022
┌ Warning: Error requiring `Mux` from `WebIO`
│   exception =
│    LoadError: ArgumentError: Package WebIO does not have JSON in its dependencies:
│    - If you have WebIO checked out for development and have
│      added JSON as a dependency but haven't updated your primary
│      environment's manifest file, try `Pkg.resolve()`.
│    - O

[2022-02-09 18:41] KwatMDPhD opened #16 "Sign code for macOS"

[2022-02-09 18:41] KwatME commented on #16
#14

[2022-02-09 18:42] KwatME commented on #15
I think the first part of this message is a warning. Can you come to https://discord.gg/Q8XyvCfH where we have a live chat about this? @KatharineME is fixing this as we speak I think. Would be nice if we can collaborate there more lively.

[2022-02-09 18:43] KwatMDPhD commented on #15
We know how to fix this too. I plan to fix this when we know installation in the current state works. Then doing some more edits to fix warning like this.

[2022-02-09 18:47] ACastanza commented on #15
I don't think this is a warning. It results in a fatal error

As a test I tried running:

gsea convert-gct-and-cls /Users/acastanza/github/GSEA.jl/test/data/test_sarcopenia/gse111016_allsamplescounts_htseqcov1_sss_forgeo.sarcopenia.vs.normal_counts_collapsed_to_symbols.gct /Users/acastanza/github/GSEA.jl/test/data/test_sarcopenia/sarcopenia_bianry.cls /Users/acastanza/github/GSEA.jl/test/data/conv

[2022-02-09 19:02] KwatMDPhD opened #17 "JOIN THE DISCORD SERVER :)"
https://discord.gg/tKh7fguMrD

[2022-02-09 19:03] KatharineME commented on #15
Hi all, happy we are back at work at this. I am seeing the exact same behavior as you @ACastanza. It is actually two things: a warning related to WebIO, and a fatal error.

I have an idea of how the WebIO warning might be fixed, which I am trying now. As for the fatal error, I'm still investigating what could be causing it, it could be due to the actual package Blink.

I'll be posting in the ✨  di

[2022-02-09 19:05] KwatME commented on #15
@Roger-luo

We tried to make "app" and "tarball" with the latest Comonicon. However, we get this error. Any help would be  great.

[2022-02-09 19:06] KwatME commented on #15
The final binary works fine in the builder's machine. But if someone downloads the binary, then it fails. You can try running the binary of this repository (1st release).

[2022-02-09 19:07] KwatME commented on #15
I hope I'm describing the error accurately @KatharineME . If not please chime in.

[2022-02-09 19:12] KatharineME commented on #15
This error seems to arise when Julia isn't installed on the machine where the app binary is being executed. At least, that is the behavior that I have seen so far.

This error was originally documented here https://github.com/JuliaLang/PackageCompiler.jl/issues/650. I am in the process of trying the suggested fix there.

[2022-02-09 19:22] ACastanza commented on #15
I was under the impression that we were moving away from julia?

[2022-02-10 03:05] KwatME commented on #15
Fixed!

We just need to make stable, easy-to-maintain, cross-platform `gsea` .

[2022-02-10 03:05] #15 closed

[2022-02-10 03:05] KwatME commented on #2
0.3.0

[2022-02-10 03:05] #2 closed

[2022-02-10 06:42] ACastanza opened #18 "Plain text descriptions of flags"
This and other commands need a plain text description of what part of the data each parameter is supposed to accept, without it we just have to guess which makes it difficult to tell if we're doing something wrong or the code is actually erroring.

[2022-02-10 06:48] KwatME commented on #18
Will change these to full text as soon as binary works.

Can you try the 0.3.0?

[2022-02-10 06:50] ACastanza opened #19 "v0.3 ERROR: MethodError: Cannot `convert` an object of type InlineStrings.String31 to an object of type Bool"
cmd: gsea run-standard-gsea /Users/acastanza/test/data/convert_output/c2.cp.wikipathways.v7.4.symbols.js /Users/acastanza/test/data/setting_for_standard_gsea.json /Users/acastanza/test/data/convert_output/score.gene_by_sample.tsv /Users/acastanza/test/data/convert_output/score.target_by_sample.tsv /Users/acastanza/test/data/sarc_out_test

[code]
Input files that were successfully produced with the

[2022-02-10 07:01] KwatME commented on #19
`.js` as in javascript?

[2022-02-10 07:04] KwatME commented on #19
After renaming the .js to .json i was able to run this. I hope the results are good. Let me know.

[2022-02-10 07:04] #19 closed

[2022-02-10 07:04] KwatME commented on #19
We definitely need to improve error messages.

[2022-02-10 07:08] KwatME commented on #19
~/Downloads/gsea/bin/gsea run-standard-gsea setting_for_standard_gsea.json c2.cp.wikipathways.v7.4.symbols.json score.target_by_sample.tsv score.gene_by_sample.tsv .

[2022-02-10 07:08] KwatME commented on #19
<img width="906" alt="Screen Shot 2022-02-10 at 00 08 11" src="https://user-images.githubusercontent.com/7741548/153355614-b5eb513c-3a10-4f30-a720-829c2035c729.png">

[2022-02-10 07:08] KwatME commented on #19
<img width="909" alt="Screen Shot 2022-02-10 at 00 08 34" src="https://user-images.githubusercontent.com/7741548/153355658-27adb9ad-72ed-4eef-a1cc-1832ef79bee4.png">

[2022-02-10 07:11] ACastanza commented on #19
[code]

[2022-02-10 07:12] ACastanza commented on #19
IT RUNS!

[2022-02-10 07:14] ACastanza commented on #19
I saw in the discord that it looks like you've disabled plotting (temporarily?) but it computes scores!

[2022-02-10 07:15] KwatME commented on #19
Yea PlotlyJS causes some issues because it uses `electron` and exponentially increases the dependencies. So I have to write my own plotting library that directly accesses Plotly without all the heavy dependencies.

[2022-02-10 07:16] KwatME commented on #19
We just have to 1) add plot 2) build for ubuntu 3) improve args, docs, and 4) use a lot

[2022-02-10 23:03] KwatMDPhD opened #20 "Build incremental=false"

[2022-02-10 23:09] KwatME commented on #20
@alex-wenzel

[2022-02-10 23:09] KwatMDPhD opened #21 "Build for specific targets"

[2022-02-10 23:46] KwatMDPhD opened #22 "Add random seed"

[2022-02-10 23:46] KwatMDPhD opened #23 "Fix Q-values"

[2022-02-10 23:47] KwatMDPhD opened #24 "Plot top and bottom N gene sets"

[2022-02-10 23:48] KwatMDPhD opened #25 "Add comparison functions"
Pearson correlation
Cosine distance
Mean difference
Median difference

**What else? Comment below.**

[2022-02-11 07:48] #22 closed

[2022-02-11 07:52] KwatMDPhD opened #26 "Build for Windows"

[2022-02-11 07:53] KwatME commented on #26
https://github.com/comonicon/Comonicon.jl/issues/175#issuecomment-1035649756

[2022-02-11 18:37] ACastanza opened #27 "Accept string `.cls`"
When specifying the assignment of phenotypes to samples in the third line of the CLS file, the gsea convert-gct-and-cls command appears to only allow numeric values and not strings. If supplying strings (see attached cls file) the following error is recieved:

File (.txt extension appended for GitHub upload):
[sarcopenia.cls.txt](https://github.com/KwatMDPhD/GSEA.jl/files/8050896/sarcopenia.cls.tx

[2022-02-11 20:14] KwatME commented on #21
https://github.com/JuliaLang/PackageCompiler.jl/issues/663

[2022-02-11 22:26] KwatME commented on #21
#26

[2022-02-11 22:35] KwatMDPhD opened #28 "Remove `convert*` (and accept `.tsv`; later there can be a converter from other file formats to `.tsv`)"

[2022-02-11 22:38] ACastanza commented on #28
If you're going to unify the convert commands, it'd be nice if it could also run independently on each file type. Like, if someone has already converted their data but then wants to convert a different collection of gene sets, or use different phenotype assignments, it'd be nice if the convert cls or convert gmt could run independently without needing to provide all of gct/gmt/cls every time.

[2022-02-11 22:39] KwatME commented on #28
<img width="1110" alt="Screen Shot 2022-02-11 at 15 38 57" src="https://user-images.githubusercontent.com/7741548/153680302-7df3da20-462e-4159-96f1-09d90dc52e7d.png">
 On it ;)

[2022-02-11 22:41] ACastanza commented on #28
Great! GMX support might also be nice, it's the same as GMT except columns instead of rows!

[2022-02-11 23:05] KwatME commented on #27
We can make a universal converter later. This adds a lot of code for doing non-`gsea` things. Let's focus on the math and main features before we slow down with conversion. Let's use `.tsv` for now. I promise to make a stand-alone converter.

[2022-02-12 05:12] #28 closed

[2022-02-12 05:12] KwatME commented on #23
@ACastanza no matter what I do I get the same results. I checked... Maybe I'm tired. There is a chance that old GSEA is wrong?...

[2022-02-12 05:13] #26 closed

[2022-02-12 06:11] KwatME commented on #23
Let me try again

[2022-02-12 06:24] KwatME commented on #23
I think I did this... Please test @ACastanza (enrichments, p-values, and q-values).

[2022-02-12 06:24] #23 closed

[2022-02-13 23:52] davideby commented on #27
@KwatMDPhD I agree.  Focus on the math & computation right now.  We already have CLS parsers in Python, R, Java and can just make converters from those.

I'd say, just accept some kind of two-class phenotype specification vector and some kind of continuous phenotype specification vector and we'll have the outside code wrangle CLS into the right format.

[2022-02-14 06:52] KwatMDPhD opened #29 "Filter gene-set genes with gene-by-sample genes"
@ACastanza and I took care of this.

[2022-02-14 06:52] #29 closed

[2022-02-14 06:52] KwatMDPhD opened #30 "Match p-values"
@ACastanza and I took care of this too.

[2022-02-14 06:53] #30 closed

[2022-02-14 06:53] KwatME commented on #27
I'll delegate conversion to your team then.

[2022-02-14 06:53] #27 closed

[2022-02-14 07:01] KwatMDPhD opened #31 "Consider `OrderedDict`"

[2022-02-14 07:03] KwatMDPhD opened #32 "Add `Normalized Enrichment` (`NES`)"
<img width="441" alt="Screen Shot 2022-02-14 at 00 02 38" src="https://user-images.githubusercontent.com/7741548/153815603-82973b24-c56b-4f48-952b-a8475f4c9f9d.png">

[2022-02-14 07:04] KwatMDPhD opened #33 "Match FDR with desktop"

[2022-02-14 07:06] ACastanza commented on #33
For reference, the FDR calculation in GSEA's R codebase: https://github.com/GSEA-MSigDB/GSEA_R/blob/b49beee596ec188deaf62cb3d40d1c7c006af347/R/GSEA.R#L821

[2022-02-15 01:17] KwatMDPhD opened #34 "Considering selecting sets in place"

[2022-02-15 01:45] #34 closed

[2022-02-15 20:05] KwatMDPhD opened #35 "List open-source contributors"
@Roger-luo

[2022-02-15 20:06] KwatME commented on #35
@ joshday

[2022-02-17 00:06] ACastanza commented on #33
The original FDR calculation:

[2022-02-17 00:07] ACastanza commented on #33
Trying to translate it into plain language:
(NES[geneset] would be the NES for the given gene set)

An important piece is that the calculations are being done on a matrix of number of sets (rows) by number of permutations (columns) for both the permuted scores and real scores. So the real score matrix also has nperm columns it's just the same values in every column. Whereas the permutation score m

[2022-02-17 04:37] #32 closed

[2022-02-17 05:53] KwatME commented on #21
When all issues on macOS (interface, numbers, and everything else) are taken cared of we will build for Windows via https://julialang.github.io/PackageCompiler.jl/dev/devdocs/binaries_part_2.html#Windows-specific-flags.

[2022-02-17 05:54] KwatME commented on #21
Building for Linux can be done already by commenting out browser plotting in runtests.jl and sarcopenia.jl.

[2022-02-20 17:27] KwatMDPhD opened #36 "Error duplicated genes"

[2022-02-22 22:13] ACastanza opened #37 "Plotting: Flip Horizontal"
Horizontal flip of plots to match orientation of desktop GSEA
Current
![newplot](https://user-images.githubusercontent.com/26012303/155228364-dbc94082-3140-4e13-ab47-edc1c406af0b.png)
:
![newplot(1)](https://user-images.githubusercontent.com/26012303/155228368-d929f3c7-1ace-46a3-a9a1-18fbda83de86.png)

Should be:
![newplot](https://user-images.githubusercontent.com/26012303/155228427-b448d8b3-efb9

[2022-02-22 22:15] ACastanza opened #38 "Plotting: Saving plot from the HTML as PNG uses generic name"
Not sure if this is fixable by default, but when saving a plot from the HTML page as a png using the built in save option it uses the generic name "newplot.png" by default. It'd be nice if when saving the plot as png it automatically used the gene set name.png to prevent users needing to manually rename each plot on save.

[2022-02-22 22:17] ACastanza opened #39 "Plotting: Change Hover Marker Color"
By default, when hovering over the plot it highlights the set gene at that point (great!) however, the hover line color is white, matching the background. This may be a darkmode issue (unconfirmed), but a midtone like a grey might be preferred.

Current behavior:
<img width="350" alt="Screen Shot 2022-02-22 at 2 16 01 PM" src="https://user-images.githubusercontent.com/26012303/155228769-f61f1c7d-a

[2022-02-22 22:20] ACastanza opened #40 "Plotting: Annotate Maximum deviation from zero on plot"
It would be nice if the point at which the Enrichment score was obtained (the maximum deviation from zero on the mountain plot) was annotated in some way - like a dot on that peak or a faint/dashed line. This can improve assessment of the mountain plot/ability to identify the leading edge, especially in cases where there might be multiple genes close together in the plot around the area where the

[2022-02-22 22:56] ACastanza opened #41 "Statistics: Sorting of tsvs appears Negative to Positive, reverse would be preferred"
Both score.gene_x_metric.tsv and float.set_x_statistic.tsv seem to be sorted negative to positive instead of positive to negative, ideally we would have this reversed just as a convention.

[2022-02-22 23:09] KwatME commented on #39
Great catch

[2022-02-24 23:15] KwatMDPhD opened #42 "Update significance calculations"

[2022-03-03 18:01] ACastanza opened #43 "Embedded plotly CDN call-out in report links to "latest" tag instead of versioned"
Is embedded in the current HTML plots, rather than linking to a "latest" tag script, linking to a fixed version tag would be preferable for stability.

[2022-03-05 23:46] ACastanza opened #44 "Write out additional dict containing running enrichment score data for all sets"
In order to produce some of the results tables users currently expect and reproduce features like leading edge analysis, we need to produce a parseable file that contains additional scoring information from the enrichment calculation. We'd basically want it to contain everything you'd need to produce the enrichment plot but for all sets.

[2022-03-05 23:48] ACastanza opened #45 "Write out additional dict containing permuted enrichment scores for all sets"
Another output we produce is a plot of the enrichment score null distribution. In order to reproduce this plot, an additional output containing the permuted es scores for each set would be needed.

[2022-03-09 21:50] KwatMDPhD opened #46 "Use full name for algorithm"

[2022-03-09 21:51] #31 closed

[2022-03-09 21:51] #33 closed

[2022-03-09 21:51] #35 closed

[2022-03-09 21:51] #42 closed

[2022-03-09 21:51] #46 closed

[2022-03-09 21:55] #16 closed

[2022-03-09 23:00] #36 closed

[2022-03-09 23:27] KwatME commented on #38
Can't fix this.

[2022-03-09 23:27] #38 closed

[2022-03-10 01:16] KwatMDPhD opened #47 "Rename `power` to be `exponent`"
@ACastanza

[2022-03-10 07:35] ACastanza opened #48 "Plotting: 0.8.1 Enrichment Plots have "click to insert [x] title" text on HTML pages"
Example of the text taken via screenshot. Present for X and Y axis and plot title:
![Screenshot 2022-03-09 233153](https://user-images.githubusercontent.com/26012303/157611419-2732efd2-116d-4a05-b8a8-e6d1932a0a45.png)

Doesn't appear when plot is downloaded as PNG
![newplot](https://user-images.githubusercontent.com/26012303/157611540-9f370505-4377-4dde-bd93-641ad2e4b588.png)

This didn't occur in

[2022-03-10 07:39] ACastanza opened #49 "Plotting: Long gene set names not scaling properly in plot titles"
![Screenshot 2022-03-09 233718](https://user-images.githubusercontent.com/26012303/157611948-ffaff2c9-fe4d-49d7-b5a4-1f6e8848e1bf.png)

Full title should be: REACTOME_ESTROGEN_DEPENDENT_NUCLEAR_EVENTS_DOWNSTREAM_OF_ESR_MEMBRANE_SIGNALING

Scaling font sizes reasonably is going to be a little tricky, but some scaling combined with maybe making the plots a little bigger might help?

[2022-03-10 07:57] ACastanza commented on #49
Same plot from the previous 0.7x version doesn't show this issue:
![newplot](https://user-images.githubusercontent.com/26012303/157614764-1606a1aa-a7cc-4919-805b-f6f559318da6.png)

[2022-03-10 16:12] KwatME commented on #21
https://github.com/korbinian90/CompileMRI.jl/blob/master/.github/workflows/compile.yml

[code]

[2022-03-10 23:18] ACastanza commented on #48
Wanted to add a note here:

The "score" name for the lowest section might be misleading for people if they confuse it with the Enrichment score.
Maybe we call it "Gene Metric" instead?

I'd have labeled those axes "Enrichment Score", "Set Membership", "Gene Metric".
And changed the "Enrichment = " Header to "Score = "

[2022-03-12 01:32] KwatMDPhD opened #50 "Make target_x_sample_x_number.tsv 1st column the row names"

[2022-03-12 01:32] #47 closed

[2022-03-12 01:56] KwatMDPhD opened #51 "Consider making `compare` an independent command-line tool"
compare ... | gsea ...

[2022-03-14 17:42] ACastanza opened #52 "Feature Request: Dynamically set weighting exponenet using Key:Value pair json"
The current behavior is to use a constant as the exponent for weighting the K-S or AUC calculation. Under certian circumstances it may be desirable to set this exponent on a per-gene basis.

To do so, it might be useful to allow this parameter to alternatively accept a json file containing a key-value pair where each gene(key) is assigned the exponent(value) that should be used when weighting that

[2022-03-14 19:24] KwatME commented on #52
exponent = number | .tsv of the same shape as the feature_x_sample_x_(numbner|metric).tsv, where corresponding feature_x_sample_x_exponent.tsv applies to feature_x_sample_x_(...).tsv.

[2022-03-14 19:27] KwatME commented on #52
| .json feature-to-exponent (this is useful as you said for people who have a saved weighting system.)

[2022-03-14 19:42] ACastanza commented on #52
In most cases I think we would only need one possible exponent for each gene, so it would be more the shape of the gene_x_metric_score matrix, so just a two column file where the first column is the gene and the second column is the weighting exponent to use for that gene.

I suppose this might be different for ssGSEA where maybe you'd want the ability to set a different exponent for different sam

[2022-03-14 19:44] ACastanza commented on #52
I don't actually have a preference for using TSV or json for this, I'd just suggested json because you seemed to like using that structure, and in python it has some benefits in its easy conversion to dict

[2022-03-15 17:54] ACastanza opened #53 "Change Enrichment Plot Positive Color"
Jill really doesn't like the pink the current positive plot is using, think we could change it to something more along the lines of an ~#F00000~ #EF553B?

[2022-03-15 20:11] KwatME commented on #53
Sure

[2022-03-15 21:08] ACastanza commented on #53
Thanks! Although maybe #EF553B would be better, I think that's what plotly uses by default in some of it's categorical assignments. Maybe also #636EFA for negative to be consistent with that?

[2022-03-17 20:53] ACastanza commented on #39
Seems like it's still doing a white hover line in some cases but not all, not sure why and when, these are the same plot from the same run

![Screen Shot 2022-03-17 at 1 50 34 PM](https://user-images.githubusercontent.com/26012303/158893054-c0d1209c-ed7c-48e3-807d-e21b36915bd0.png)

![Screen Shot 2022-03-17 at 1 50 28 PM](https://user-images.githubusercontent.com/26012303/158893057-a8cdca06-39fc-4

[2022-03-18 01:01] KwatME commented on #53
![Unknown-36](https://user-images.githubusercontent.com/7741548/158917778-94b9c699-ede4-47f0-b859-93e21537a202.png)

[2022-03-18 01:11] KwatME commented on #39
Can't reproduce this. I don't know what is going on.

[2022-03-18 01:39] #48 closed

[2022-03-18 01:44] KwatME commented on #39
I updated a few things and try them out. If this shows up again, feel free to reopen.

[2022-03-18 01:44] #39 closed

[2022-03-18 04:49] #40 closed

[2022-03-18 04:50] KwatME commented on #41
Let's fix all direction at the end. By default, things are increasing in natural direction. Plot has the same issue which we can fix all at the end.

[2022-03-18 04:50] #41 closed

[2022-03-18 04:50] #43 closed

[2022-03-18 04:51] KwatME commented on #37
Let's do this at the very end. This issue will be part of the final flip issue.

[2022-03-18 04:51] #37 closed

[2022-03-18 04:52] KwatMDPhD opened #54 "Consider flipping table, plot, and all"

[2022-03-18 05:12] KwatME commented on #44
I just realized that the .html plot has these values in it! It has everything!

[2022-03-18 05:13] KwatME commented on #44
Can you see if you can use the values in .html? If this is not doable, I can save with some speed sacrifice. Either is fine. Maybe I can make an extractor from the .html.

[2022-03-18 05:34] KwatME commented on #45
set_x_random_x_enrichment.tsv is now saved :)

[2022-03-18 05:49] KwatME commented on #52
This is more involved than expected. Do you think this is something people can do in pre-rank fashion? They can make their vector is whatever way they wish?

[2022-03-21 05:24] ACastanza commented on #52
I don't think manually applying it to preranked data would really do what I'd want it to do

[2022-03-21 16:05] ACastanza commented on #53
Looks like this might not be active in the 0.9.0 build?

[2022-03-21 16:05] ACastanza commented on #49
Looks like this might not be working in the 0.9.0 build

[2022-03-21 17:09] KwatME commented on #53
Do you not see something like this?
![Unknown-38](https://user-images.githubusercontent.com/7741548/159326454-dfe04e36-9a15-4a53-8ae7-ea59e3af1466.png)

I tried the categorical colors (1st figure above) but they looked darker than I hoped and there were many plots with those colors, so I wanted to be a bit different and have GSEA colors instead of defaults used by the majority. We can explore more

[2022-03-21 17:10] KwatME commented on #49
Does it trim the name? Title wrapping was more involved than expected, so I trimmed it to 32 characters. It's rare that someone uses the gene set name as is, so I thought this may be practical and robust.

[2022-03-21 17:10] KwatME commented on #52
Got it. Will make it happen. Excited to see your use case!

[2022-03-23 20:30] ACastanza commented on #53
The colors in the comment you posted before closing the issue were good, the new ones that you ended up going with are not, they get the same objection to the color combination that the original ones got.

[2022-03-23 20:32] ACastanza commented on #49
It does trim the name, the wrapping in the original version was better. It is not "rare that someone uses the gene set name as it" that is in fact what happens most of the time.

[2022-04-01 22:02] ACastanza commented on #45
This appears to work correctly in gene set permutation mode, but in phenotype permutation mode the permuted score appears identical for every column
[set_x_random_x_enrichment_sample_perm.txt](https://github.com/KwatMDPhD/GSEA.jl/files/8401077/set_x_random_x_enrichment_sample_perm.txt)
[set_x_random_x_enrichment_set_perm_run_through_preranked.txt](https://github.com/KwatMDPhD/GSEA.jl/files/8401078

[2022-04-01 22:22] KwatME commented on #45
Got it. Will fix.

[2022-04-01 22:51] KwatME commented on #45
Fixed. Will be in the next release scheduled for this evening.

[2022-04-01 22:51] #45 closed

[2022-04-01 22:55] KwatME commented on #50
[01_feature_sample.tsv.txt](https://github.com/KwatMDPhD/GSEA.jl/files/8401243/01_feature_sample.tsv.txt)

Here is an example @ACastanza . This example has 1 row but there can be more than 1 rows.

[2022-04-07 21:56] KwatMDPhD opened #55 "For `data-ranks` output `set_x_sample_x_significance.tsv`"

[2022-04-07 22:10] ACastanza commented on #44
Hadn't realized this got closed, I'll take a look at parsing this out from the html blob

[2022-04-08 16:36] ACastanza commented on #44
So, I was able to parse out the data for the ones with plots pretty easily, which is enough to build the reports, but I think we do still need to make a change here since for the complete leading edge analysis sometimes users need to go deeper than just the sets we've chosen to plot. If its possible to dump out the kind of underlying data that's in this html file but for all sets as a combined jso

[2022-04-08 18:38] ACastanza commented on #44
Turns out I was using the old version of the plots before you reworked them, the new version is **much much** harder to parse out the content from.

[2022-04-14 22:20] KwatME commented on #53
https://statisticsglobe.com/wp-content/uploads/2019/09/figure-2-default-ggplot2-colors-4-colors-palette.png

[2022-07-06 18:41] #17 closed

[2022-07-11 17:19] KwatMDPhD opened #56 "Plot a heat map or delete `plot/` for `data-ranks`"

[2022-07-12 02:07] KwatME commented on #49
DOnel.

[2022-07-12 02:07] #49 closed

[2022-07-12 02:07] KwatME commented on #50
Done.

[2022-07-12 02:07] #50 closed

[2022-07-12 02:08] KwatME commented on #53
Let's pick a new set of 4 colors.

[2022-07-12 02:08] #54 closed

[2022-07-12 02:09] KwatME commented on #55
Not doing this because the calculation of each cell is costly and doing this over 20k-x-100s is unneeded.

[2022-07-12 02:09] #55 closed

[2022-07-12 02:11] #21 closed

[2022-07-26 19:57] ACastanza opened #57 "Error building docker container with 0.11.0"
Tried to build from the .11 tag and got:
[code]
didn't change anything else in my dockerfile except the github tag. Do I need to change the version of julia or something?

[2022-07-26 20:27] KwatME commented on #57
I think I need to add `OnePiece.jl` as a dependency rather than linking it locally. I forgot to use the URL instead of the path.

[2022-07-26 20:28] KwatME commented on #57
<img width="1157" alt="Screen Shot 2022-07-26 at 13 28 04" src="https://user-images.githubusercontent.com/7741548/181105893-d13bcdaf-409d-406e-808c-7acfe129229d.png">

It has `path` field, indicating that it is locally set. I need to fix this.

[2022-07-27 18:06] ACastanza commented on #57
Is there a new release tag for this fix or should it build with the existing one?

[2022-07-28 20:52] ACastanza commented on #57
Tried rebuilding with the same 0.11.0 release tag and it failed again. I think you might need to do a 0.11.1 to get this fix in.

[2022-08-04 19:57] ACastanza commented on #57
Any update on this @KwatMDPhD ?

[2022-08-04 20:05] KwatME commented on #57
Thanks for following up. How's this https://github.com/KwatMDPhD/GSEA.jl/releases/tag/0.11.1?

[2022-08-04 20:05] #57 closed

[2022-08-04 20:20] ACastanza opened #58 "0.11.1 Build Tests Fail when building app tarball"
[code]

[2022-08-04 21:00] KwatME commented on #58
[code]

I wonder if this is due to auto browser opening.

[2022-08-04 21:43] KwatME commented on #58
Try 0.11.2, please. Hope it works.

[2022-08-04 21:43] #58 closed

[2022-08-04 22:03] ACastanza opened #59 "0.11.2 extracted from tarball fails when running gsea -h"
[code]

Image and Pacakge versions unchanged from prior releases
GSEA.jl tarball built under julia:1.7.2-bullseye docker image
Base image: python:3.10-bullseye
Packages Installed: scipy==1.8.0 pandas==1.4.1 argparse==1.4.0 dominate==2.6.0 plotly==5.6.0 Jinja2==3.1.1

[2022-08-04 22:06] ACastanza commented on #58
This error has been fixed however a new error has arisen at a later stage (see https://github.com/KwatMDPhD/GSEA.jl/issues/59)

[2022-08-05 02:31] KwatMDPhD commented on #59
Could you please try with julia 1.7.3?

[2022-08-05 02:33] KwatMDPhD commented on #59
Additionally, could you try running on macOS the build I have attached to the release?

[2022-08-05 05:14] KwatMDPhD commented on #59
I'm hoping that this fixes the issue https://github.com/JuliaLang/MbedTLS.jl/pull/253

[2022-08-05 05:25] KwatME commented on #59
[This](https://github.com/JuliaLang/MbedTLS.jl/issues/225#issuecomment-1174677097) fixed the problem for me. But it's a bandaid solution. MbedTLS.jl is the source of the problem.

[2022-08-05 06:02] KwatME commented on #59
https://github.com/JuliaLang/MbedTLS.jl/issues/218

[2022-08-08 15:24] KwatME commented on #59
https://github.com/JuliaLang/PackageCompiler.jl/issues/710#issuecomment-1208268287 fixes this. Finally.

[2022-08-08 15:24] #59 closed

[2022-08-08 15:28] KwatMDPhD opened #60 "Remove temporary `PacakgeCompiler.jl`"

[2022-08-08 17:37] ACastanza opened #61 "0.11.3 Fails to Build"
Is there a change to the command used to build? I know you were tweaking packagecompiler stuff.

[2022-08-08 17:46] KwatME commented on #61
Try 0.11.4.

[2022-08-08 17:46] #61 closed

[2022-08-08 17:47] KwatME commented on #61
https://github.com/KwatMDPhD/GSEA.jl/releases/tag/0.11.4

[2022-08-08 18:13] ACastanza commented on #61
0.11.4 builds!

[2022-08-10 16:22] #60 closed

[2022-08-10 18:35] ACastanza opened #62 "data-rank fails with error"
Input files available in the /input/ folder in the job results here: https://beta.genepattern.org/gp/pages/index.jsf?jobid=88957&openVisualizers=true&openNewWindow=false

[2022-08-10 18:44] ACastanza commented on #62
This might be an error in adopting the changes you made to various parameters, working on it now.

[2022-08-10 18:55] KwatME commented on #62
<img width="729" alt="Screen Shot 2022-08-10 at 12 54 44" src="https://user-images.githubusercontent.com/7741548/183994466-9f09daa0-fd40-47c7-8940-68eda9c578cb.png">

It looks like the `.tsv`'s 2nd column is `Gene.Symbol`, which may have been inherited from `.gct`. Can you try removing this column?

[2022-08-10 19:01] KwatME commented on #62
I did 2 things to make it work.

1) Removed the 2nd column.
2) Set `algorithm` to be `ks`.

[bug_1.zip](https://github.com/KwatMDPhD/GSEA.jl/files/9303252/bug_1.zip)

[2022-08-10 19:01] #62 closed

[2022-08-10 19:24] ACastanza commented on #62
Huh, strange, I didn't change anything in the code for creating that tsv from what was used in the previous version. I'll make those changes, thanks!

[2022-08-10 20:11] KwatME commented on #62
Thanks for the bug reports :)

Keep. It. Coming.

Let's make this tool simple, robust, and liked.

[2022-08-10 20:36] ACastanza opened #63 "Use good .html format"
At some point between the 0.9.1 and 0.11.3 release the structure of the HTML underlying the enrichment plot page was changed. This is the third time that this HTML has been substantially changed. Please revert this change to the prior 0.9.1 structure. Every time this changes I have to rewrite the parser that extracts things like the leading edge information and produces the complete results pages.

[2022-08-10 20:43] ACastanza commented on #63
~~Nevermind, I think I figured out a way to parse this new version after all.~~

[2022-08-10 20:52] ACastanza commented on #63
Nope, I can't get this to work, something that changed here is messing up all of the parsing logic I was using.

[2022-08-10 20:57] ACastanza commented on #63
I think the issue is the indentations in the "Plotly.newPlot() function, and the change that dropped the spaces in the ", " separators between subdicts.

[2022-08-10 21:14] KwatME commented on #63
[code]

Maybe there are spaces now?

When parsing HTML, people often use some kind of cleaner (prettier) to ensure the structure. Can we try that?

[2022-08-10 21:15] KwatME commented on #63
Can we try running `npx prettier --write` before each parsing to make sure the parser gets the same structure no matter what?

[2022-08-10 21:15] KwatME commented on #63
https://prettier.io/docs/en/install.html

[2022-08-10 21:16] ACastanza commented on #63
I really don't want to add yet another package to this module. Please just revert the plot structure to how it was before so I could manually parse out the information I needed.

[2022-08-10 21:19] KwatME commented on #63
I don't want to establish a bad .html file format just because we had it before. Let me add `prettier` on my end so every .html is pretty and consistent.

[2022-08-10 21:23] ACastanza commented on #63
[descartes_fetal_cerebellum_slc24a4_pex5l_positive_cells.txt](https://github.com/KwatMDPhD/GSEA.jl/files/9304118/descartes_fetal_cerebellum_slc24a4_pex5l_positive_cells.txt)
If you take this file as an example (rename to .html and open in a browser's view source)

I just need to be able to parse the information on line 10 here into a python dictionary
<img width="1307" alt="Screen Shot 2022-08-10

[2022-08-10 21:32] ACastanza commented on #63
Oh! I actually _did_ figure out a way to resolve the indentation issue!

[2022-08-10 21:33] ACastanza commented on #63
I was able to get it to parse, so maybe it's best if we just leave this alone after all.

[2022-08-10 21:33] #63 closed

[2022-08-10 22:12] KwatME commented on #63
Bravo🖖

[2022-08-10 23:05] KwatME commented on #63
But you do bring a good point about how all output `.html`s should be standardized... If this issue comes up again, then I'll add `prettier` on my end and make all `.html` pretty.

[2022-08-11 20:40] ACastanza opened #64 "Logic error in selecting which, and how many, sets to plot"
It appears that the sets selected for plotting on the positive and negative sides are (independently) off by one. I.e. only the top 19 and bottom 19 plots are being produced.

Additionally, if there are fewer than 20 (19) sets on one "side" of the enrichment (i.e. there are only 10 sets enriched in the negative phenotype) then the remainder will be plotted selected from the "bottom" sets of the po

[2022-08-11 21:18] KwatME commented on #64
If you open those `Details...`, do the plot title match the gene-set name? If not, then this could be downstream error. Meanwhile, I'm looking into this upstream.

[2022-08-11 21:31] ACastanza commented on #64
Yes, the plot titles match the set names in the table

[2022-08-11 21:32] KwatME commented on #64
I checked the setting number and the number of plots in `plot/` and they match for all cases. I don't know what is going on here.

[2022-08-11 21:39] ACastanza commented on #64
Okay, this is odd, somehow HALLMARK_E2F_TARGETS, and HALLMARK_IL6_JAK_STAT3_SIGNALING were removed from my results table. So at least that part of this is on me. The wrapping around to plot the bottom sets of another phenotype is the only issue then.

[2022-08-11 21:40] KwatME commented on #64
Can you try deleting the output and try again? `gsea` does not delete.

[2022-08-11 21:43] ACastanza commented on #64
Huh? These are clean runs in a clean docker container every time. The correct numebr of plots are being created, but if there aren't N>nsets to plot on one side of the distribution it's wrapping around.

[2022-08-11 21:45] KwatME commented on #64
Ah I see. I don't think I take into account the "side" now. I just pick the top and bottom. I can fix this. I know what to do. By the way can you check discord?

[2022-08-11 22:04] ACastanza commented on #64
The fix for those sets being dropped ended up being simple, I was changing from 0 based to 1 based indexing incorrectly in creating the results html table

[2022-08-17 18:32] #25 closed

[2022-08-17 18:32] #56 closed

[2022-09-13 22:18] KwatMDPhD opened #65 "Check the number of sets for plotting and more"
@ACastanza

[2022-09-22 21:59] KwatMDPhD opened #66 "Fix p-value adjustment"

[2022-09-22 22:00] KwatME commented on #66
@alex-wenzel
@ACastanza

[2022-09-28 17:27] ACastanza opened #67 "Make the new algorithm computation faster"
Running the GSEA.jl code with the K-S statistic for a dataset with 10,000 gene set permutations for 5020 gene sets runs in about 1 hour 15 minutes, this is inline with GSEA Desktop's runtime.
However running the same data with the CIDAC statistic showed a predicted runtime of ~60 hours (when the job timed out at 8 hours, it still showed 52 hours remaining).

[2022-09-29 19:33] ACastanza commented on #67
I just noticed that this is time blowup is already happening in small jobs and with phenotype permutation:
KS 1000 phenotype perms 30 seconds: https://beta.genepattern.org/gp/jobResults/89374/stderr.txt
CIDAC 1000 phenotype perms 16 minutes: https://beta.genepattern.org/gp/jobResults/89371/stderr.txt
jobs are otherwise identical just old vs new algorithm

[2022-10-03 15:14] KwatME commented on #67
Thanks for the benchmark. We are going to be revisiting the algorithm in October. When the exact algorithm is decided once for all, I plan to optimize the speed.

[2022-10-03 18:32] KwatME commented on #66
This bug was due to incorrectly sorting the adjusted p values. I fixed it.

I downloaded @ACastanza 's Google Drive folders. The P53 set adjustment is not as good as the desktop version, but still significant. Specifically, this set drops from the top to number 2 or 3.

<img width="750" alt="Screen Shot 2022-10-03 at 12 33 29" src="https://user-images.githubusercontent.com/7741548/193652461-2862ce

[2022-10-03 18:32] #66 closed

[2022-10-03 18:40] KwatME commented on #65
I'm going to error or warn if a user plans to plot the top 20 gene sets but the user only provides less-than-20 sets.

[2022-10-03 18:42] KwatME commented on #64
This should also solve #65, or vice versa.

[2022-10-03 20:02] ACastanza commented on #65
I'd go warn if at all. Doesn't seem reasonable to straight up fail the job purely because it couldn't plot more sets than exist. It's one of those parameters that shouldn't really matter for most users and we shouldn't make them need to think about it unless they know they need to.

[2022-10-05 22:11] KwatMDPhD opened #68 "Debug `ks` and `cidac` plotting the same plots"
@ACastanza

[2022-10-05 22:34] #68 closed

[2022-10-06 22:45] KwatMDPhD opened #69 "Fix feature y-axis"
@ACastanza

[2022-10-07 02:05] #69 closed